In [1]:
print("hello world")

hello world

In [2]:
import pandas
import os
from sklearn.preprocessing import OneHotEncoder 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.cluster import KMeans

In [3]:
path=os.path.join("Titanic","Titanic.csv")
data=pandas.read_csv(path)

In [4]:
data.shape

(891, 12)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

# Business Understanding
#### Business Question
- penumpang seperti apa yang seharusnya memiliki peluang besar untuk selamat dalam kejadian tenggelamnya kapal titanic?
#### Hypothesis
- pihak kepolisian ingin mengetahui penumpang mana saja yang seharusnya mempunyai peluang besar untuk selamat dalam kejadian tenggelamnya kapal titanic berdasarkan data penumpang yang selamat dan meninggal, sehingga data ini dapat dipelajari oleh pihak dermaga untuk meminimalisir korban bencana tenggelamnya kapal dikemudian hari
#### Expected Output
- mengetahui penumpang seperti apa yang seharusnya memiliki peluang besar untuk selamat dalam kejadian tenggelamnya kapal titanic?
#### Experimentation Plan
- mengukur persentase data penumpang yang meninggal dan membandingkannya dengan data penumpang yang selamat

# Data Understanding
- PassengerId : Id dari records/penumpang
- Survived : Catatan bahwa dia selamat atau meninggal (1=Selamat, 0=Meninggal)
- Pclass : Kelas dari penumpang
- Name : Nama penumpang
- Sex : Jenis Kelamin penumpang
- Age : Usia penumpang
- SibSp : Jumlah Siblings/Spouse (saudara atau pasangan)
- Parch : Jumlah Parent/Childern (Orang tua atau anak)
- Ticket : Nomor Tiket
- Fare : Harga Tiket
- Cabin : Posisi duduk/kabin penumpang
- Embarked : Pelabuhan tempat penumpang berangkat

# Data Preparation

In [7]:
# check nilai-nilai unik pada semua kolom
data['Survived'].unique() # Survived

array([0, 1], dtype=int64)

In [8]:
data['Pclass'].unique() # Pclass

array([3, 1, 2], dtype=int64)

In [9]:
data['Sex'].unique() # Sex

array(['male', 'female'], dtype=object)

In [10]:
data['Embarked'].unique() # Embarked

array(['S', 'C', 'Q', nan], dtype=object)

In [11]:
# check jumlah data yang null
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
# check persentase data yang null
data.isna().mean()

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [13]:
# handling data null
data=data.drop(labels=['Cabin'],axis=1)

In [14]:
data['Age']=data['Age'].fillna(data['Age'].mean())

In [15]:
data['Embarked']=data['Embarked'].fillna(data['Embarked'].value_counts().idxmax())

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [17]:
# handling data duplicate
data.loc[data['PassengerId'].duplicated()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Embarked]
Index: []

In [18]:
data.loc[data['Name'].duplicated()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Embarked]
Index: []

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [20]:
# handling unneeded data
data=data.drop(labels=['Name'],axis=1)

In [21]:
data=data.drop(labels=['Ticket'],axis=1)

In [22]:
data=data.drop(labels=['Fare'],axis=1)

In [23]:
data=data.drop(labels=['Embarked'],axis=1)

In [24]:
data=data.drop(labels=['PassengerId'],axis=1)

In [25]:
data=data.drop(labels=['SibSp'],axis=1)

In [26]:
data=data.drop(labels=['Parch'],axis=1)

In [27]:
# find insight data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 28.0+ KB

In [28]:
# jumlah penumpang selamat dan meninggal berdasarkan Pclass
pandas.crosstab(data['Pclass'],data['Survived'])

Survived    0    1
Pclass
1          80  136
2          97   87
3         372  119

In [29]:
# jumlah penumpang selamat dan meninggal berdasarkan Sex
pandas.crosstab(data['Sex'],data['Survived'])

Survived    0    1
Sex
female     81  233
male      468  109

In [30]:
# jumlah penumpang selamat dan meninggal berdasarkan Age
pandas.crosstab(data['Age'],data['Survived'])

Survived  0  1
Age
0.42      0  1
0.67      0  1
0.75      0  2
0.83      0  2
0.92      0  1
...      .. ..
70.00     2  0
70.50     1  0
71.00     2  0
74.00     1  0
80.00     0  1

[89 rows x 2 columns]

In [31]:
# data manipulation
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 28.0+ KB

In [32]:
data['Age']=data['Age'].astype('int64')

In [33]:
data['Age']=data['Age'].clip(1,80)

In [34]:
col = sorted(data['Sex'].unique().tolist())
enc = OneHotEncoder(handle_unknown='ignore')
enc_data = pandas.DataFrame(enc.fit_transform(data[['Sex']]).toarray(),columns=col)

result_data = data[['Survived','Pclass','Age']].join(enc_data)
result_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Age       891 non-null    int64
 3   female    891 non-null    float64
 4   male      891 non-null    float64
dtypes: float64(2), int64(3)
memory usage: 34.9 KB

In [35]:
result_data['female']=result_data['female'].astype('int64')
result_data['male']=result_data['male'].astype('int64')

# Modelling

In [36]:
# modelling preparation
result_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Age       891 non-null    int64
 3   female    891 non-null    int64
 4   male      891 non-null    int64
dtypes: int64(5)
memory usage: 34.9 KB

In [37]:
result_data.columns

Index(['Survived', 'Pclass', 'Age', 'female', 'male'], dtype='object')

In [38]:
train, test = train_test_split(result_data, test_size=0.3, random_state=2023)

In [39]:
train.shape, test.shape

((623, 5), (268, 5))

In [40]:
# modelling
train.columns

Index(['Survived', 'Pclass', 'Age', 'female', 'male'], dtype='object')

In [41]:
X_train = train.drop(labels=['Survived'], axis=1)
y_train = train['Survived']
X_test = test.drop(labels=['Survived'], axis=1)
y_test = test['Survived']

In [42]:
lr = LinearRegression(positive=True)
lr.fit(X_train, y_train)

LinearRegression(positive=True)

In [43]:
lr.predict(X_test[2:3])

array([0.19323671])

In [44]:
l = Lasso(positive=True)
l.fit(X_train, y_train)

Lasso(positive=True)

In [45]:
l.predict(X_test[2:3])

array([0.3788122])

In [46]:
r = Ridge(positive=True,random_state=2023)
r.fit(X_train,y_train)

Ridge(positive=True, random_state=2023)

In [47]:
r.predict(X_test[2:3])

array([0.19456333])

In [48]:
kmeans = KMeans(n_clusters=5, max_iter=100)
kmeans.fit(X_train)

c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

KMeans(max_iter=100, n_clusters=5)

In [49]:
kmeans.predict(X_test[2:3])

array([0])