In [7]:
print("hello world")

hello world

In [8]:
import pandas

In [9]:
import numpy

In [10]:
import os

In [11]:
import sklearn

In [12]:
path=os.path.join("Titanic","Titanic.csv")
data=pandas.read_csv(path)

In [13]:
data.shape

(891, 12)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [15]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

# Business Understanding
#### Business Question
- penumpang seperti apa yang seharusnya memiliki peluang besar untuk selamat dalam kejadian tenggelamnya kapal titanic?
#### Hypothesis
- pihak kepolisian ingin mengetahui penumpang mana saja yang seharusnya mempunyai peluang besar untuk selamat dalam kejadian tenggelamnya kapal titanic berdasarkan data penumpang yang selamat dan meninggal, sehingga data ini dapat dipelajari oleh pihak dermaga untuk meminimalisir korban bencana tenggelamnya kapal dikemudian hari
#### Expected Output
- mengetahui penumpang seperti apa yang seharusnya memiliki peluang besar untuk selamat dalam kejadian tenggelamnya kapal titanic?
#### Experimentation Plan
- mengukur persentase data penumpang yang meninggal dan membandingkannya dengan data penumpang yang selamat

# Data Understanding
- PassengerId : Id dari records/penumpang
- Survived : Catatan bahwa dia selamat atau meninggal (1=Selamat, 0=Meninggal)
- Pclass : Kelas dari penumpang
- Name : Nama penumpang
- Sex : Jenis Kelamin penumpang
- Age : Usia penumpang
- SibSp : Jumlah Siblings/Spouse (saudara atau pasangan)
- Parch : Jumlah Parent/Childern (Orang tua atau anak)
- Ticket : Nomor Tiket
- Fare : Harga Tiket
- Cabin : Posisi duduk/kabin penumpang
- Embarked : Pelabuhan tempat penumpang berangkat